<%
  @header_title = "Relatórios"
  @bottom_menu_active = "relatorios"
%>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mt-2 mb-2">
  <ul class="listview link-listview">
    <li>
      <a href="<%= relatorios_bairros_path %>">Bairros</a>
    </li>
    <li>
      <a href="<%= relatorios_leads_path %>">Leads</a>
    </li>
    <li>
      <a href="<%= relatorios_personals_path %>">Personals</a>
    </li>
    <li class="divider-title">Negócio</li>
    <li>
      <a href="#">Churn</a>
    </li>
    <li>
      <a href="#">LTV</a>
    </li>
  </ul>

</div>
<!-- * App Capsule -->